<ul class="list-group" style="width: 255px;color: #005cbf" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">
    <li class="list-group-item" style="background-color: #156145"><a href="#" style="font-weight: bold; color: white;" th:text = "#{label.brands}"></a></li>
    <li class="list-group-item"><a href="#" style="font-weight: bold; color: black;" th:text="#{link.apple}"></a></li>
    <li class="list-group-item"><a href="#" style="font-weight: bold; color: black;" th:text = "#{link.samsung}"></a></li>
    <li class="list-group-item"><a href="#" style="font-weight: bold; color: black;" th:text = "#{link.lg}"></a></li>
    <li class="list-group-item"><a href="#" style="font-weight: bold; color: black;" th:text = "#{link.bosch}"></a></li>
    <li class="list-group-item"><a href="#" style="font-weight: bold; color: black;" th:text = "#{link.zepter}"></a></li>
    <li class="list-group-item"><a href="#" style="font-weight: bold; color: black;" th:text = "#{link.xiaomi}"></a></li>
    <li class="list-group-item"><a href="#" style="font-weight: bold; color: black;" th:text = "#{link.nokia}"></a></li>
    <li class="list-group-item"><a href="#" style="font-weight: bold; color: black;" th:text = "#{link.other}"></a></li>
</ul>