<ul class="list-group" style="width: 255px;color: #005cbf" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">
    <li class="list-group-item" style="background-color: #156145"><a href="#" style="font-weight: bold;color: white" th:text="#{label.payments}"></a></li>
    <li class="list-group-item" style="color: #235f6e;font-size: 45px"><i class="fab fa-cc-apple-pay"></i>&nbsp;&nbsp;<i class="fab fa-cc-visa"></i>&nbsp;&nbsp;<i class="fab fa-cc-paypal"></i></li>
    <li class="list-group-item" style="color: #235f6e;font-size: 45px"><i class="fab fa-cc-amazon-pay"></i>&nbsp;&nbsp;<i class="fab fa-cc-mastercard"></i>&nbsp;&nbsp;<i class="fab fa-cc-amex"></i></li>
</ul>