img{
max-width: 100%;
}
img.thumbnail {
    width: 100px;
    height: 70px;
}

.checked{
    color: orange;
}
a:link{
    cursor: pointer;
    text-decoration: none!important;
}
a:hover{
    text-decoration: none;
}

.custom-card {
    transition: .3s ease-in;
    z-index: 9999;
}

.custom-card:hover {
    transition: .3s ease-in;
    transform: scale(1.05);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.pseudo-slider {
    position: relative;
    float: left;
    width: 100%;
}

.pseudo-text {
    position: absolute;
    right: 15%;
    bottom: 45%;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}
