<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main.html">

<div layout:fragment="site_content">
    <div class="row mt-5">
        <div class="col-6 offset-3">
            <h3 class="text-center">
                Add Item>
            </h3>
            <form th:action="@{'/addItem'}" method="post">
                <div class="form-group">
                    <label th:text="#{label.itemName}"></label>
                    <input type="text" name="item_name" class="form-control" required>
                </div>
                <div class="form-group">
                    <label th:text="#{label.itemDescription}"></label>
                    <textarea class="form-control" rows="5" name="item_description"></textarea>
                </div>
                <div class="form-group">
                    <label th:text="#{label.itemPrice}"></label>
                    <input type="number" name="item_price" class="form-control" required>
                </div>
                <div class="form-group">
                    <label th:text="#{label.addedDate}"></label>
                    <input type="date" name="item_date" class="form-control" required>
                </div>
                <div class="form-group">
                    <label th:text="#{label.itemStar}"></label>
                    <input type="number" name="item_star" class="form-control">
                </div>
                <div class="form-group">
                    <label th:text="#{label.itemSmallPicture}"></label>
                    <input type="text" name="item_smallPic" class="form-control" required>
                </div>
                <div class="form-group">
                    <label th:text="#{label.itemLargePicture}"></label>
                    <input type="text" name="item_largePic" class="form-control" required>
                </div>
                <div class="form-group">
                    <label th:text="#{label.Brand}">
                    </label>
                    <select class="form-control" name="brand_id">
                        <option th:each="brnd:${brands}" th:text="${brnd.name}" th:value="${brnd.id}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label th:text="#{label.inTop}">
                    </label>
                    <select class="form-control" name="top_page">
                        <option th:selected="1">YES</option>
                        <option th:selected="0">NO</option>
                    </select>
                </div>
                <div class="form-group">
                    <label th:text="#{label.categories}">
                    </label>
                    <select class="form-control" name="category_id">
                        <option th:each="ct:${categories}" th:text="${ct.name}" th:value="${ct.id}"></option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary" th:text="#{button.add}"></button>
            </form>
        </div>
    </div>
</div>
</html>