<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout" layout:decorator="layoutAdmin/mainAdmin.html">

<div layout:fragment="site_contentAdmin">
    <div class="row mt-3">
        <div class="col-sm-12">
            <form th:action="@{'/saveBrand'}" method="post">
                <input type="hidden" name="id" th:value=" ${brand.getId()}">
                <div class="form-group">
                    <label th:text="#{label.BrandName}"></label>
                    <input type="text" name="brand_name" class="form-control" th:value="${brand.getName()}" required>
                </div>
                <div class="form-group">
                    <label th:text="#{label.CountryName}"></label>
                    <select class="form-control" name="country_id">
                        <option th:each="cnt:${countries}" th:text="${cnt.name}"
                                th:value="${cnt.id}"
                                th:selected="${cnt!=null && brand.country.id == cnt.id}"></option>
                    </select>
                </div>

                <div class="form-group float-right">
                    <button type="submit" class="btn btn-success" ><i class="fas fa-save mr-2"></i><span th:text="#{button.save}"></span></button>
                    <button type="button" class="btn btn-danger ml-2" data-toggle="modal" data-target="#deleteModal"><i class="fas fa-trash-alt"></i><span th:text="#{button.delete}"></span>
                    </button>
                </div>
            </form>
            <!-- Modal -->
            <div class="modal fade" id="deleteModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
                 aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <form th:action="${'/deleteBrand'}" method="post">
                        <input type="hidden" name="id" th:value="${brand.id}">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel"></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <h5 th:text="#{message.confirm}"></h5>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                        th:text="#{button.cancel}"></button>
                                <button  class="btn btn-danger" th:text="#{button.delete}"></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>



</div>
</html>