<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main.html">

<div layout:fragment="site_content">
    <div class="mt-3" th:if="${basket!=null}">
        <table class="table table-striped">
            <thead class="font-weight-bold text-uppercase">
            <tr>
                <td>Id</td>
                <td>Name</td>
                <td>Amount</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="ba : ${basket}">
                <td th:text="${ba.getId()}"></td>
                <td th:text="${ba.getName()}"></td>
                <td th:text="${ba.getQuantity()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</html>